{% extends "base.html" %}
{% block title %}Add Lecturer{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Hello</h1>
    <h1 style="color:darkgreen;">welcome to group 4 project web</h1>
</div>

<div class="text-center"><b>
        <h2>we curently have these function</h2>
    </b> </div>
<table class="text-center">
    <td>
        <div><button><a class="nav-link" href="/list">click here to go to student list </a> </button></div>
    </td>
    <td>
        <div><button><a class="nav-link" href="/stc">click here to go to class list </a> </button></div>
    </td>
    <td>
        <div><button><a class="nav-link" href="/absent">click here to go to student absent list </a> </button></div>
    </td>
    <td>
        <div><button><a class="nav-link" href="/assigncl/">click here to go to student assign for class
                    list</a></button>
        </div>
    </td>
</table>
{% endblock %}